
<div class="articles">
  <div class="container">
    <h3 class="articles__header">Articles</h3>
    <div class="articles_wrap">
      <div class="articles__img"><img src="../img/img_send.jpg" alt="article img"/></div>
      <div class="articles__text">
        <p class="caption">Rock Garnet 80 mesh</p>
        <p class="date">9.09.2017</p>
        <p class="text first_line">Rock Garne 80 is used for both sandblasting and waterjet cutting. It is the most popular fraction, smoother cutting and more even edges than at 30/60, mainly used for cutting tiles, kevlar, marble, granite, stone, copper, aluminum alloy, and other precious metals.</p>
        <p class="text first_line">Rock Garne 80 is used for both sandblasting and waterjet cutting. It is the most popular fraction, smoother cutting and more even edges than at 30/60, mainly used for cutting tiles, kevlar, marble, granite, stone, copper, aluminum alloy, and other precious metals.</p>
      </div>
    </div>
  </div>
</div>