
<div class="contacts">
  <div class="container">
    <h3 class="contacts__header">Contacts</h3>
    <div class="map_wrapper">
      <div id="map"></div>
    </div>
    <div class="contacts__address">
      <div class="address__item">
        <div class="address__caption">
          <p>Head Office</p>
        </div>
        <div class="address__text">
          <p class="country">Russia</p>
          <p class="text">per. Chelieva, 13, lit. T, k.3 193239, St. Petersburg,</p>
          <p class="text">Phone:<span class="phone">+7 812 703 12 64</span></p>
          <p class="email">E-mail: info@rock-gar.net</p>
        </div>
      </div>
      <div class="address__item">
        <div class="address__caption">
          <p>Dealer in Europe</p>
        </div>
        <div class="address__text">
          <p class="country">Germany GmD GmbH</p>
          <p class="text">Sandsstr. 13 50226 Frechen</p>
          <p class="text">Phone:<span class="phone">+49 2234 205 020</span></p>
          <p class="text">Fax:<span class="fax">+123 456 778 98</span></p>
        </div>
      </div>
      <div class="address__item">
        <div class="address__caption">
          <p>Warehouse in Europe</p>
        </div>
        <div class="address__text">
          <p class="country">Antwerpen, Belgium</p>
          <p class="text">BE-Logistics Bell-Telephonelaan 3B 2440 Geel</p>
          <p class="text">Phone:<span class="phone">+123 456 778 99</span></p>
          <p class="text">Fax:<span class="fax">+123 456 778 98</span></p>
        </div>
      </div>
    </div>
    <div class="form_comment">
      <h2 class="form_comment__heading">Our Feedback</h2>
      <form class="form_data">
        <div class="form_data__sideOne">
          <input type="text" name="name" placeholder="Full name" required="required"/>
          <input type="text" name="phone" placeholder="Phone number" required="required" class="input-phone"/>
          <input type="text" name="mail" placeholder="E-mail" required="required"/>
        </div>
        <div class="form_data__sideTwo">
          <textarea placeholder="Comment" required="required"></textarea>
          <input type="submit" value="Send"/>
        </div>
      </form>
    </div>
  </div>
</div>