
<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="contact__heading">Need help with a specialist?</h2><span class="contact__subinfo">Fill out the form and our managers will contact you in the near future!</span>
        <form action="#" class="contact__form-connect">
          <input type="text" name="name" placeholder="Full Name" required="required" class="form-connect__input"/>
          <input type="tel" name="phone" placeholder="Phone Number" required="required" class="form-connect__input input-phone"/>
          <input type="email" name="email" placeholder="E-mail" required="required" class="form-connect__input"/>
          <input type="submit" name="send" value="send" class="form-connect__btn-send"/>
        </form>
        <div data-remodal-id="form-modal" class="form-modal"><a href="#" data-remodal-action="close" class="form-modal__close"><i class="fa fa-close"></i></a>
          <div class="form-modal__inside-flex"><img src="../img/logo.png" alt="form-logo" class="form-modal__picture"/>
            <p class="form-modal__callback">Ask To Call Back:</p>
          </div>
          <p class="form-modal__message">Thank you for your inquiry, our specialist will contact you shortly</p>
        </div>
      </div>
    </div>
  </div>
</div>