
<div class="catalog">
  <div class="container">
    <h3 class="catalog__heading">Product catalog</h3>
    <ul class="catalog__wrap">
      <li class="catalog__wrap__item">
        <div class="catalog__wrap__item--img"><img src="../img/img_30_60.jpg"/></div>
        <div class="catalog__wrap__item--text">
          <h5>30/60 mesh</h5>
          <p>Rock Garnet 40/80 is used for both sandblasting and waterjet cutting. It is the most popular faction, smoother cutting and more even edges than at 30/60...</p>
        </div>
        <div class="catalog__wrap__item--more"><a href="index-product.html">More</a></div>
      </li>
      <li class="catalog__wrap__item">
        <div class="catalog__wrap__item--img"><img src="../img/img_80.jpg"/></div>
        <div class="catalog__wrap__item--text">
          <h5>80 mesh</h5>
          <p>Rock Garnet 40/80 is used for both sandblasting and waterjet cutting. It is the most popular faction, smoother cutting and more even edges than at 30/60...</p>
        </div>
        <div class="catalog__wrap__item--more"><a href="index-product.html">More</a></div>
      </li>
      <li class="catalog__wrap__item">
        <div class="catalog__wrap__item--img"><img src="../img/img_120.jpg"/></div>
        <div class="catalog__wrap__item--text">
          <h5>120 mesh</h5>
          <p>Rock Garnet 40/80 is used for both sandblasting and waterjet cutting. It is the most popular faction, smoother cutting and more even edges than at 30/60...</p>
        </div>
        <div class="catalog__wrap__item--more"><a href="index-product.html">More</a></div>
      </li>
    </ul>
  </div>
</div>