
<div class="proud_wrapper">
  <div class="container">
    <div class="row">
      <div class="proud_caption">
        <p class="heading">We have something to be proud of!</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="element">
          <div class="element__img"><img src="../img/proud_cup.png" alt="cup"/></div>
          <div class="element__text">
            <p class="title">Great experience</p><span>12 years in the market</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="element">
          <div class="element__img"><img src="../img/proud_factory.png" alt="factory"/></div>
          <div class="element__text">
            <p class="title">From the manufacturer</p><span>Without margins of intermediaries</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="element">
          <div class="element__img"><img src="../img/proud_bags.png" alt="bags"/></div>
          <div class="element__text">
            <p class="title">Range</p><span>All fractions of garnet is available</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="element">
          <div class="element__img"><img src="../img/proud_delivery.png" alt="delivery"/></div>
          <div class="element__text">
            <p class="title">When buying from 60 tons</p><span>special offer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>