
<div class="container product-slide">
  <div class="product-slide__slide-envelope">
    <div class="row slide-envelope">
      <div class="col-xs-12 col-sm-12 col-md-4"><img src="../img/icon-chemical.png" alt="icon-chemical" class="slide-envelope__icon"/>
        <h3 class="slide-envelope__heading">Chemical Composition</h3>
        <div class="slide-envelope__description-material">
          <ul class="description-material__list">
            <li class="list-left">Al<sub>2</sub>O<sub>3</sub></li>
            <li class="list-right">18,95%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">SIO<sub>2</sub> (no free silica)</li>
            <li class="list-right">40,84%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Fe<sub>2</sub>O<sub>3</sub></li>
            <li class="list-right">11,20%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">TIO<sub>2</sub></li>
            <li class="list-right">1,70%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">coO</li>
            <li class="list-right">10,07%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">M<sub>g</sub>O</li>
            <li class="list-right">5,99%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">M<sub>n</sub>O</li>
            <li class="list-right">&lt;0,2%</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4"><img src="../img/bag-first.png" alt="bag" class="slide-envelope__product-images"/></div>
      <div class="col-xs-12 col-sm-12 col-md-4"><img src="../img/icon-characteristic.png" alt="icon-characteristic" class="slide-envelope__icon"/>
        <h3 class="slide-envelope__heading">Psychical Charateristic</h3>
        <div class="slide-envelope__description-material">
          <ul class="description-material__list">
            <li class="list-left">Hardness</li>
            <li class="list-right">>7,5 Mohs</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Bulk density</li>
            <li class="list-right">4,1 g/cm3</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Specific gravity</li>
            <li class="list-right">2,4 g/cm3</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Texicant</li>
            <li class="list-right">no</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Conductivity</li>
            <li class="list-right">&lt;255/m</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Acid slubility (HCL)</li>
            <li class="list-right">&lt;1,0%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Shape of Rock and color:</li>
            <li class="list-right">Dark Red, Sub angular</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row slide-envelope">
      <div class="col-xs-12 col-sm-12 col-md-4"><img src="../img/icon-chemical.png" alt="icon-chemical" class="slide-envelope__icon"/>
        <h3 class="slide-envelope__heading">Chemical Composition</h3>
        <div class="slide-envelope__description-material">
          <ul class="description-material__list">
            <li class="list-left">Al<sub>2</sub>O<sub>3</sub></li>
            <li class="list-right">19,45%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">SIO<sub>2</sub> (no free silica)</li>
            <li class="list-right">41,84%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Fe<sub>2</sub>O<sub>3</sub></li>
            <li class="list-right">18,48%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">TIO<sub>2</sub></li>
            <li class="list-right">1,56%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">coO</li>
            <li class="list-right">10,07%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">M<sub>g</sub>O</li>
            <li class="list-right">5,99%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">M<sub>n</sub>O</li>
            <li class="list-right">&lt;0,10%</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4"><img src="../img/bag-second.png" alt="bag" class="slide-envelope__product-images"/></div>
      <div class="col-xs-12 col-sm-12 col-md-4"><img src="../img/icon-characteristic.png" alt="icon-characteristic" class="slide-envelope__icon"/>
        <h3 class="slide-envelope__heading">Psychical Charateristic</h3>
        <div class="slide-envelope__description-material">
          <ul class="description-material__list">
            <li class="list-left">Hardness</li>
            <li class="list-right">>8 Mohs</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Bulk density</li>
            <li class="list-right">2,4 g/cm3</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Specific gravity</li>
            <li class="list-right">4,1 g/cm3</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Texicant</li>
            <li class="list-right">no</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Conductivity</li>
            <li class="list-right">&lt;255/m</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Acid slubility (HCL)</li>
            <li class="list-right">&lt;1,0%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Shape of Rock and color:</li>
            <li class="list-right">Red, Sub angular</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row slide-envelope">
      <div class="col-xs-12 col-sm-12 col-md-4"><img src="../img/icon-chemical.png" alt="icon-chemical" class="slide-envelope__icon"/>
        <h3 class="slide-envelope__heading">Chemical Composition</h3>
        <div class="slide-envelope__description-material">
          <ul class="description-material__list">
            <li class="list-left">Al<sub>2</sub>O<sub>3</sub></li>
            <li class="list-right">18,45%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">SIO<sub>2</sub> (no free silica)</li>
            <li class="list-right">40,84%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Fe<sub>2</sub>O<sub>3</sub></li>
            <li class="list-right">11,20%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">TIO<sub>2</sub></li>
            <li class="list-right">2,60%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">coO</li>
            <li class="list-right">10,07%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">M<sub>g</sub>O</li>
            <li class="list-right">5,99%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">M<sub>n</sub>O</li>
            <li class="list-right">&lt;0,10%</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4"><img src="../img/bag-third.png" alt="bag" class="slide-envelope__product-images"/></div>
      <div class="col-xs-12 col-sm-12 col-md-4"><img src="../img/icon-characteristic.png" alt="icon-characteristic" class="slide-envelope__icon"/>
        <h3 class="slide-envelope__heading">Psychical Charateristic</h3>
        <div class="slide-envelope__description-material">
          <ul class="description-material__list">
            <li class="list-left">Hardness</li>
            <li class="list-right">>7,5-8,0 Mohs</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Bulk density</li>
            <li class="list-right">4,1 g/cm3</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Specific gravity</li>
            <li class="list-right">2,4 g/cm3</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Texicant</li>
            <li class="list-right">no</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Conductivity</li>
            <li class="list-right">&lt;255/m</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Acid slubility (HCL)</li>
            <li class="list-right">&lt;1,0%</li>
          </ul>
          <ul class="description-material__list">
            <li class="list-left">Shape of Rock and color:</li>
            <li class="list-right">Dark Red, Sub angular</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>