
<div class="rock_garnet_wrapper">
  <div class="container">
    <div class="garnet_caption">
      <p class="caption">High quality rock garnet from the manufacturer</p><span class="subtext">Garnet of various fractions. Our Managers are always ready to answer questions and help in choosing!</span>
    </div>
    <div class="garnet_categories">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="category">
            <div class="category__wrapper">
              <div class="category__caption"><span>80 mesh</span></div>
              <div class="category__img"><img src="../img/img_80.jpg" alt="80 img"/></div>
              <div class="category__text">
                <p>Rock Garnet 40/80 is used for both sandblasting and waterjet cutting. It is the most popular faction, for water jet cutting...</p>
              </div>
            </div>
            <div class="category__button"><a href="index-article.html">More</a></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="category">
            <div class="category__wrapper">
              <div class="category__caption"><span>120 mesh</span></div>
              <div class="category__img"><img src="../img/img_120.jpg" alt="120 img"/></div>
              <div class="category__text">
                <p>Rock Garnet 120 Mesh has a very fine particle size, mainly used for high precision in waterjet cutting of material with ideal edges. Suitable for materials such as glass...</p>
              </div>
            </div>
            <div class="category__button"><a href="index-article.html">More</a></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="category">
            <div class="category__wrapper">
              <div class="category__caption"><span>30/60 mesh</span></div>
              <div class="category__img"><img src="../img/img_30_60.jpg" alt="30_60 img"/></div>
              <div class="category__text">
                <p>Rock Garnet 40/80 is used for both sand-blasting and waterjet cutting. It is the most popular faction,smoother cutting and more even edges than at 30/60...</p>
              </div>
            </div>
            <div class="category__button"><a href="index-article.html">More</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>